@model GalleryCategoryDetailVM

<div class="footermenu-detail">
<h1>Gallery Category Details</h1>



@foreach (var translate in Model.Translates)
{
    <div>
        <h5>@translate.LangCode</h5>
        <p>Title: @translate.Tittle</p>
    </div>

    <hr />
}

<a class="detail-back" asp-action="Index">Back to List</a>

</div>

