@model BoulevardResidence.Web.Areas.Admin.ViewModels.Feature.FeatureDetailVM
@{
    ViewData["Title"] = "Detail";
}

<div class="sliderdetails">

<h1>Feature Detail</h1>

<div>
    <h4>Feature ID: @Model.Id</h4>
    <img src="~/featurelogo/@Model.Logo" class="img-fluid" alt="Slider Image">
</div>

<hr />

@foreach (var translate in Model.Translates)
{
    <div>
        <h5>@translate.LangCode</h5>
        <p>Name: @translate.Name</p>
    </div>

    <hr />
}

    <a class="detail-back" asp-action="Index">Back to List</a>

</div>
