@model SliderHeaderDetailVM
@{
    ViewData["Title"] = "Detail";
}

<div class="sliderdetails">

<h1>Slider Header Details</h1>

    <h4 style="margin-top: 4rem;">Translations:</h4>

@foreach (var translate in Model.Translates)
{
        <div style="width: 50%;">
        <h5>@translate.LangCode</h5>
        <p>Tittle: @translate.Tittle</p>
        <p>Description: @translate.Description</p>
    </div>

    <hr />
}

    <a class="detail-back" asp-action="Index">Back to List</a>

</div>
